body {
  background-color: #f8f9fa;
  font-family: Poppins;
}

header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > img {
  width: 90px;
}
.logo > a {
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
}
li {
  margin-left: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

a:hover {
  color: #e63946;
}

button {
  border: none;
  border-radius: 35px;
  font-size: 16px;
  padding: 15px;
  background-color: #F4A261;
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f3b481 ;
}

.hero {
  position: relative;
  text-align: center;
  margin: 10px;
}

.hero > img {
  width: 60%;
  filter:blur(3px);
  border-radius: 15px;
}

.hero-text {
  text-shadow: 10px 4px 6px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-title {
  font-weight: 500;
}

.hero-subtitle {
  font-weight: normal;
}
